{% extends "base.html" %}

{% block title %}Części{% endblock %}

{% block content %}
<h2>Magazyn części</h2>

<table>
    <tr>
        <th>Nazwa</th>
        <th>Stan</th>
        <th>Cena</th>
    </tr>

    {% for czesc in czesci %}
    <tr>
        <td>
            <a href="{% url 'szczegoly_czesci' czesc.id %}">
                {{ czesc.nazwa }}
            </a>
            {% if uzytkownik_aplikacji.rola == 'magazynier' or uzytkownik_aplikacji.rola == 'admin' %}
                <a href="{% url 'edytuj_czesc' c.id %}" class="btn">Edytuj</a>
            {% endif %}
        </td>
        <td>{{ czesc.stan_magazynowy }}</td>
        <td>{{ czesc.cena }} zł</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Brak części</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}